<p-toast key="toast1"></p-toast>
<c-container>
  <c-card *ngIf="pagePermission.change.value">
    <c-card-body>
      <c-row>
        <c-col>
          <form
            cForm
            [formGroup]="changePassword"
            novalidate
            (ngSubmit)="onSubmit()"
          >
            <c-row>
              <label cCol [sm]="12" cLabel="col" for="oldpassword"
                >Old Password :</label
              >
              <c-col
                [sm]="12"
                *ngIf="changePassword.controls['oldpassword'] as ctrl"
              >
                <input
                  cFormControl
                  id="oldpassword"
                  formControlName="oldpassword"
                  placeholder="Enter the old password"
                  autocomplete="off"
                  required
                  [autofocus]="true"
                  [valid]="
                    ctrl.touched && ctrl.valid
                      ? true
                      : ctrl.touched && ctrl.invalid
                      ? false
                      : undefined
                  "
                />
                <c-form-feedback *ngIf="ctrl.invalid" [valid]="!ctrl.invalid">
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['required']">
                      Old password is required
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-col>
            </c-row>
            <c-row>
              <label cCol [sm]="12" cLabel="col" for="password"
                >New Password :
              </label>
              <c-col
                [sm]="12"
                *ngIf="changePassword.controls['password'] as ctrl"
              >
                <p-overlayPanel #op>
                  <ul style="color: red">
                    <li
                      *ngIf="
                        showNewPasswordErrors() && showSpecialCharacterError()
                      "
                    >
                      Password should contain at least one special character
                    </li>
                    <li *ngIf="showNewPasswordErrors() && showUppercaseError()">
                      Password should contain at least one uppercase letter
                    </li>
                    <li *ngIf="showNewPasswordErrors() && showLowercaseError()">
                      Password should contain at least one lowercase letter
                    </li>
                    <li *ngIf="showNewPasswordErrors() && showNumberError()">
                      Password should contain at least one number
                    </li>
                  </ul>
                </p-overlayPanel>
                <input
                  #validationTarget
                  cFormControl
                  id="password"
                  type="password"
                  (keypress)="toggleValidation(op, $event)"
                  formControlName="password"
                  placeholder="Enter the new password"
                  autocomplete="new-password"
                  required
                  [valid]="
                    ctrl.touched && ctrl.valid
                      ? true
                      : ctrl.touched && ctrl.invalid
                      ? false
                      : undefined
                  "
                />
                <div *ngIf="ctrl.touched && ctrl.errors">
                  <div *ngIf="ctrl.hasError('required')" style="color: red">
                    New password is required
                  </div>
                  <div *ngIf="ctrl.hasError('passwordMismatch')">
                    Passwords must match
                  </div>
                </div>
              </c-col>
            </c-row>
            <c-row>
              <label cCol [sm]="12" cLabel="col" for="confirmPassword"
                >Confirm password :</label
              >
              <c-col
                [sm]="12"
                *ngIf="changePassword.controls['confirmPassword'] as ctrl"
              >
                <input
                  cFormControl
                  id="confirmPassword"
                  type="password"
                  formControlName="confirmPassword"
                  placeholder="Enter the confirm password"
                  autocomplete="off"
                  required
                  [valid]="
                    ctrl.touched && ctrl.valid
                      ? true
                      : ctrl.touched && ctrl.invalid
                      ? false
                      : undefined
                  "
                />
                <c-form-feedback *ngIf="ctrl.invalid" [valid]="!ctrl.invalid">
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['passwordMismatch']">
                      Passwords must match
                    </div>
                    <div *ngIf="errors['required']">
                      Confirmation is required
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-col>
            </c-row>
            <hr />
            <c-row>
              <c-col class="justify-content-center">
                <button
                  cButton
                  style="border-radius: 50px"
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="changePassword.pristine || changePassword.invalid"
                >
                  <svg cIcon name="cilLoopCircular"></svg>
                  Change Password
                </button>
              </c-col>
            </c-row>
          </form>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-container>
