<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '35vw' }"></p-confirmDialog>
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  style="background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%)"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    style="padding: 10px; background-color: rgb(255, 255, 255)"
    [brandFull]="{
      src: '../../../assets/img/2.png',
      width: 200,
      height: 40,
      alt: 'CoreUI Logo'
    }"
    [brandNarrow]="{
      src: '../../../assets/img/1.png',
      width: 40,
      height: 40,
      alt: 'CoreUI Logo'
    }"
  >
  </c-sidebar-brand>
  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
    <c-sidebar-nav [navItems]="menuBuilder" dropdownMode="none">
    </c-sidebar-nav>
    <div class="loginButton" (click)="func()">
      <svg
        cIcon
        name="cilAccountLogout"
        style="width: 64px; height: 20px"
      ></svg>
      Logout
    </div>
  </perfect-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  ></c-sidebar-toggler>
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header
    class="d-print-none header header-sticky"
    position="sticky"
    sidebarId="sidebar"
  ></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-3" style="padding: 0px 30px !important">
    <c-container
      class="h-auto"
      style="margin: 0px !important; padding-top: 20px"
    >
      <div style="width: 100%">
        <router-outlet></router-outlet>
      </div>
    </c-container>
  </div>
  <!--app footer-->
</div>
