/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  --moz-appearance: textfield;
}
:host ::ng-deep .p-dropdown {
  border: 1px solid #ced4da;
}
thead {
  background-color: #fbfafa;
}

.discountInput {
  width: 70%;
  height: 35px;
  margin-right: 10px;
  border: 1px solid rgba(175, 175, 175, 0.7);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.adjustmentInput {
  height: 35px;
  border-radius: 5px;
  width: 70%;
  border: 1px solid rgba(175, 175, 175, 0.7);
}

c-row {
  padding: 10px;
  margin: 5px;
}

c-col {
  display: flex;
  align-items: center;
}
.p-dropdown-label {
  margin-top: -5px !important;
}
