<p-toast key="toast1"></p-toast>
<c-container
  style="
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <c-card
    style="
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    "
  >
    <c-card-body>
      <c-row style="margin-top: 0">
        <c-col>
          <form
            cForm
            [formGroup]="setPassword"
            novalidate
            (ngSubmit)="onSubmit()"
          >
            <c-row
              style="
                margin-top: 0;

                border-bottom: 1px solid rgb(129 114 114 / 18%);
              "
            >
              <c-col style="display: flex; justify-content: center">
                <img
                  width="40%"
                  style="margin-bottom: 10px"
                  src="../../../assets/img/2.png"
                  alt="Company Logo(TechnoJacks)"
                />
              </c-col>
            </c-row>
            <c-row style="text-align: center">
              <c-col
                style="
                  background-color: #49505721;
                  padding: 5px;
                  margin: 0px 100px 0px 100px;
                  border-radius: 15px;
                  font-family: system-ui;
                "
              >
                <span style="font-weight: bold">User Id: </span> {{ userId }}
              </c-col>
            </c-row>
            <c-row>
              <h5 style="text-align: center; text-decoration: underline">
                Set Your New Password
              </h5>
            </c-row>
            <c-row>
              <c-col class="alignCenterInput">
                <label for="oldpassword">Temporary Password :</label>
              </c-col>
              <c-col>
                <input
                  cFormControl
                  style="width: 100%"
                  class="p-inputtext-sm"
                  pInputText
                  formControlName="temppassword"
                  placeholder="Enter temporary password"
                />
              </c-col>
            </c-row>
            <c-row>
              <c-col class="alignCenterInput">
                <label for="oldpassword">New Password :</label>
              </c-col>
              <c-col>
                <p-overlayPanel #op>
                  <ul style="color: red">
                    <li
                      *ngIf="
                        showNewPasswordErrors() && showSpecialCharacterError()
                      "
                    >
                      Password should contain at least one special character
                    </li>
                    <li *ngIf="showNewPasswordErrors() && showUppercaseError()">
                      Password should contain at least one uppercase letter
                    </li>
                    <li *ngIf="showNewPasswordErrors() && showLowercaseError()">
                      Password should contain at least one lowercase letter
                    </li>
                    <li *ngIf="showNewPasswordErrors() && showNumberError()">
                      Password should contain at least one number
                    </li>
                  </ul>
                </p-overlayPanel>
                <input
                  cFormControl
                  style="width: 100%"
                  (keypress)="toggleValidation(op, $event)"
                  class="p-inputtext-sm"
                  pInputText
                  type="password"
                  formControlName="password"
                  placeholder="Enter new password"
                />
              </c-col>
            </c-row>
            <c-row>
              <c-col class="alignCenterInput">
                <label for="oldpassword">Confirm Password :</label>
              </c-col>
              <c-col
                *ngIf="setPassword.controls['confirmPassword'] as ctrl"
                style="position: relative"
              >
                <input
                  cFormControl
                  style="width: 100%"
                  class="p-inputtext-sm"
                  pInputText
                  type="password"
                  formControlName="confirmPassword"
                  placeholder="Confirm password"
                  [valid]="
                    ctrl.touched && ctrl.valid
                      ? true
                      : ctrl.touched && ctrl.invalid
                      ? false
                      : undefined
                  "
                />
                <c-form-feedback
                  *ngIf="ctrl.invalid"
                  [valid]="!ctrl.invalid"
                  style="position: absolute"
                >
                  <ng-container *ngIf="ctrl.errors as errors">
                    <div *ngIf="errors['required']">
                      Confirmation is required
                    </div>
                    <div *ngIf="errors['passwordMismatch']">
                      Passwords must match
                    </div>
                  </ng-container>
                </c-form-feedback>
              </c-col>
            </c-row>
            <c-row>
              <c-col style="display: flex; justify-content: center">
                <p-button
                  pRipple
                  label="Set Password"
                  type="submit"
                  icon="pi pi-check"
                  [disabled]="setPassword.invalid"
                ></p-button>
              </c-col>
            </c-row>
          </form>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-container>
